body {
  background-image: url(https://www.muralguys.ca/cdn/shop/products/HockeyArena-02_1800x1800.png?v=1615323720);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Bebas Neue',  sans-serif;
  font-size: 27px;
  color: #00DFC2;
}

.msg {
  font-family: 'Bebas Neue',  sans-serif;
  font-size: xx-large;
  color: #F6D605;
}

.btn-1 {
  font-family: 'Exo 2', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 15px 30px;
  border: 3px solid #000;
  background: linear-gradient(to right, #00DFC2, #96B1AC);
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 8px;
  align-items: center;
}

.btn-2 {
  font-family: 'Exo 2', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 15px 30px;
  border: 3px solid #000;
  background: #96B1AC;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 8px;
  align-items: center;
}

.btn-3 {
  font-family: 'Exo 2', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 15px 30px;
  border: 3px solid #000;
  background: linear-gradient(to left, #00DFC2, #96B1AC);
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 8px;
  align-items: center;
  margin-top: 15px;
}